* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 0 32px;
    background-color: #1f2937;
    color: #fff;
}

.navbar-list a {
    text-decoration: none;
    color: #fff;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-item {
    padding-left: 16px;
}

.part1 {
    display: flex;
    gap: 16px;
    text-align: center;
    padding: 16px;
    background-color: #1f2937;
    color: #fff;
}

.part1, .part2, .part3, .part4 {
    min-height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.part1 h1 {
    font-size: 48px;
    font-weight: 900;
}

.part1 p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.part1-img {
    width: 600px;
    height: 300px;
    border: 2px solid #e5e7eb;
}

.part2 h3{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.part2-img {
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.part2-card p, .part2-img {
    width: 200px;
    height: 200px;
}

.part2-card p {
    text-align: center;
}

.part2-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 16px;
}

.part2-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.part3 {
    display: flex;
    background-color: #e5e7eb;
}

.quote {
    width: fit-content;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    text-align: center;
}

.quote h3 {
    color: #1f2937;
    text-align: right;
    font-weight: 900;
}

.part4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 95%;
    border-radius: 5px;
}

.signup-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 10% 32px 10%;
}

.signup-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 1px solid #e5e7eb;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px 16px 32px;
    background-color: #1f2937;
    color: #e5e7eb;
    bottom: 0;
    width: 100%;
}